<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>Spam Classifier</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet"/>
</head>

<body>
  <!-- Main Input For Receiving Query to our ML -->
  <div class="container">
    <form action="{{ url_for('predict')}}" method="post">
      <textarea name="data" placeholder="Message" required="required" ></textarea>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
    <br>
    {{ prediction_text }}
    <p class="spam">SPAM</p>
    <p class="not_a_spam">NOT A SPAM</p>
    <p class="message">"Hey there"</p>
  </div>

</body>

</html>